<!-- User sign up page -->

<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">

		<meta name="description" content="Hashtrend a Django-based, responsive photo aggregator">
		<meta name="author" content="Emanuele">

		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Favicon -->
		<link rel="shortcut icon" href="../../static/hashtrend/images/favicon.png">

		<!-- Web Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/css?family=Ranga:700,400,300" rel="stylesheet">

		<!-- Bootstrap core CSS -->
		<link href="../../static/hashtrend/bootstrap/css/bootstrap.css" rel="stylesheet">

		<!-- Font Awesome CSS -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

		<!-- Plugins -->
		<link href="../../static/hashtrend/css/animations.css" rel="stylesheet">

		<!-- Hashtrend user-signup-section CSS file -->
		<link href="../../static/hashtrend/css/signup_page.css" rel="stylesheet">

	</head>
	<!-- header start -->
	<!-- ================ --> 
	<header class="header clearfix>
		<div class="container">
			<div class="row">
				<div class="col-md-4">

					<!-- header-left start -->
					<!-- ================ -->
					<div class="header-left clearfix">

						<!-- logo and slogan -->
						<div class="logo smooth-scroll">
							<a href="/"><img id="logo" src="../../static/hashtrend/images/logo.png" alt="Hashtrend"></a>
							<div class="site-slogan"><strong>Hashtag Your World</strong></div>
						</div>

					</div>
					<!-- header-left end -->

				</div>
				<div class="col-md-8">

					<!-- header-right start -->
					<!-- ================ -->
					<div class="header-right clearfix">

						<!-- main-navigation start -->
						<!-- ================ -->
						<div class="main-navigation animated">

							<!-- navbar start -->
							<!-- ================ -->
							<nav class="navbar navbar-default" role="navigation">
								<div class="container-fluid">

									<!-- Toggle get grouped for better mobile display -->
									<div class="navbar-header">
										<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										</button>
									</div>

								</div>
							</nav>
							<!-- navbar end -->

						</div>
						<!-- main-navigation end -->

					</div>
					<!-- header-right end -->

				</div>
			</div>
		</div>
	</header>
	<!-- header end -->

	<body>
		<div class="signup_area">

			<h2>{% block title %}{{ page_title }}{% endblock %} to get the max from Hashtrend !</h2>

			{% block content %}
			<section>
				<form id="signup_form" method="post">
					{% csrf_token %}
					{% for field in form %}
					<div class="row">
						<div class="fields">
					<p class="label_tags">{{ field.label_tag }}</p><p>{{ field }}</p>
						</div>
					</div>
					<div class="mx-auto text-center">
						{% for error in field.errors %}
						<p style="color: red">{{ error }}</p>
						{% endfor %}
					</div>
					{% endfor %}
					<div class="text-center">
						<button class="btn btn-primary signup_btn" type="submit">Sign up</button>
					</div>
					<div class="sign-in">
						<p>Already registered ? <a href="{% url 'hashtrend:login' %}"><u>Login</u></a></p>
					</div>
				</form>
			</section>
			{% endblock %}
		</div>
		
		<!-- footer start -->
		<!-- ================ -->
		<footer id="footer">

		<!-- .footer start -->
		<!-- ================ -->
		<div class="footer section">
			<div class="container">
				<h1 class="title text-center" id="contact">Social Media as information</h1>
				<div class="space"></div>
					<div class="row">
						<div class="col-sm-6">
							<div class="footer-content">
								<p class="large">We live in a world full of data, like never before.<br>
								Hashtrend's main goal is to convert social posts into a useful flux of informations to share among its users. You will never miss an important event, a local news close to you or a great photo shot taken in your city.</p>
								<ul class="social-links">
									<li class="facebook"><a target="_blank" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
									<li class="twitter"><a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
									<li class="instagram"><a target="_blank" href="http://www.instagram.com"><i class="fab fa-instagram"></i></a></li>
									<li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a></li>
									<li class="youtube"><a target="_blank" href="http://www.youtube.com"><i class="fab fa-youtube"></i></a></li>
									<li class="flickr"><a target="_blank" href="http://www.flickr.com"><i class="fab fa-flickr"></i></a></li>
									<li class="pinterest"><a target="_blank" href="http://www.pinterest.com"><i class="fab fa-pinterest"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="footer-content">
								<img src="../../static/hashtrend/images/social_wall.png">
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- .footer end -->

		<!-- .subfooter start -->
		<!-- ================ -->
		<div class="subfooter">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p class="text-center">Copyright © 2019 Hashtrend by Emanuele Pellegrini &nbsp; <span><a target="_blank" href="https://www.linkedin.com/in/emanuele-pellegrini/"></span><i class="fab fa-linkedin-in linkedin-personal"></i></a>&nbsp;</span> <span><a target="_blank" href="https://github.com/emas89"></span><i class="fab fa-github github-personal"></i></a></span></p>
					</div>
				</div>
			</div>
		</div>
		<!-- .subfooter end -->

		</footer>
		<!-- footer end -->

	</body>
</html>
